/* This file is for your main application css. */

h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
}

.title {
  margin-bottom: 40px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
}

.gimme-space {
  margin-bottom: 40px;
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.daily-amount {
  display: inline-block;
  margin-right: 0.1em;
}

.easter-egg {
  position: fixed;
  left: 0px;
  bottom: 0px;

}