<div class="panel panel-default info-widget">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Spending Left</h3>
  </div>
  <div class="panel-body text-center">
    <h3>$<%= currency(@spending[:total_left]) %></h3>
  </div>
</div>
